<%- include('layout/header')  %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-4">
            <div class="card shadow">
                <div class="card-header bg-dark">
                    <h3 class="text-light">New Product</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="id">Product id</label>
                            <input type="text" name="id" class="form-control" placeholder="Enter ID" required/>
                        </div>
                        <div class="mb-3">
                            <label for="name">Product Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Enter Name" required/>
                        </div>
                        <div class="mb-3">
                            <label for="price">Product Price</label>
                            <input type="text" name="price" class="form-control" placeholder="Enter Price" required/>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input class="form-control" type="file" name="image" required/>
                        </div>
                        <div class="mb-3">
                            <label for="detail">Product Detail</label>
                            <input type="text" name="detail" class="form-control" placeholder="Enter Detail"/>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Add Product" class="btn btn-dark btn-lg"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer')  %>
